<div>
    <div class="md:flex">
        <div> {{> sidebar}} </div>
        <div class="md:w-full">
            {{> header}}
            <div id ="alert" class="md:w-full md:h-10 bg-red-300" style="display: none;">
            <p class="text-sm font-semibold p-2 color-red-800">Annonce supprimée</p>
            </div>
            <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const msg = urlParams.get('msg')
                if (msg == "deleted") {
                    var div2 = document.getElementById("alert");
                    div2.style.display= 'block';
                    setTimeout(function() {
                    div2.style.display = 'none';
                    }, 2000);
                }
            </script>
            <h1 class="text-xl font-semibold p-6 pl-14 italic">Liste des annonces publiées</h1>   
            <table class="md:w-11/12 ml-14 items-center bg-transparent border-collapse">

                <thead>
                        <tr>
                            <th class="px-2 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                ID
                            </th>
                            
                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                TITRE
                            </th>

                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left bg-blue-800 text-white border-blue-700">
                                DESCRIPTION
                            </th>

                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                PHOTO
                            </th>

                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                PRIX
                            </th>

                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                Téléphone
                            </th>

                            <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                                Action
                            </th>
                        </tr>
                </thead>

                {{#each annonceinfo}}
                <tbody>
                        <tr>
                            <th class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4 text-left flex items-center">
                                {{id}}
                            </th>
                                <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                                    {{titre}}
                                </td>

                                <td class="border-t-0 px-10 align-middle border-l-0 border-r-0 text-md p-4">
                                    {{description}}
                                </td>

                                <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                                    <img class="w-28 h-16" src="{{photo_url1}}" alt="image de l'annonce ">
                                </td>
                                        
                                <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                                    {{prix}}
                                </td>
                                        
                                <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                                    {{telephone}}
                                </td>

                                <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4 text-right">
                                    <button type="submit" class="text-white px-4 h-8 rounded-full flex space-x-2 items-center border border-red-500 bg-red-500 hover:bg-red-700"> 
                                        <a href="/ichhar-admin/annonces/delete/{{id}}">
                                            Supprimer
                                        </a> 
                                    </button>
                                </td>
                        </tr>            
                 </tbody>
                {{/each}} 

            </table>
        </div>
    </div>
</div>


