<div>
    <div class="md:flex">
        <div>
            {{> sidebar}}
        </div>

        <div class="md:w-full">
            {{> header}}
            <div id ="alert" class="md:w-full md:h-10 bg-green-300" style="display: none;">
            <p class="text-sm font-semibold p-2 color-green-700">Annonce approuvée</p>
            </div>
            <div id ="alert1" class="md:w-full md:h-10 bg-red-300" style="display: none;">
            <p class="text-sm font-semibold p-2 color-red-800">Annonce refusée</p>
            </div>
            <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const msg = urlParams.get('msg')
                if (msg == "approved") {
                    var div2 = document.getElementById("alert");
                    div2.style.display= 'block';
                    setTimeout(function() {
                    div2.style.display = 'none';
                    }, 2000);
                }
                if (msg == "refused") {
                    var div2 = document.getElementById("alert1");
                    div2.style.display= 'block';
                    setTimeout(function() {
                    div2.style.display = 'none';
                    }, 2000);
                }
            </script>

            <h1 class="text-xl font-semibold p-6 pl-8 italic">Liste des annonces en attente</h1>
            <div class="md:grid md:grid-cols-3 mb-2 gap-y-10">
                {{#each annonceattenteinfo}}
                        <div class="ml-8 mb-2 w-72 h-fit md:h-full md:h-fit md:w-80 bg-white rounded-lg border border-gray-200 shadow-lg">
                            <a href="/ichhar-admin/annoncesattentes/annonce/{{this.id}}">
                                <img class="rounded-t-lg mx-auto mt-2 h-20 md:h-32" src="/images/{{this.photo_url1}}" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-lg md:text-2xl font-bold tracking-tight text-gray-900">{{this.titre}}</h5>
                                </a>
                                <p class="mb-3 font-normal text-black">{{this.description}}</p>
                                <!--<p class="mb-3 font-normal text-gray-700">Situé à : {{this.ville}}</p>-->
                                <p class="mb-3 font-normal text-gray-700">{{this.prix}} DT</p>
                                
                                <div class="mb-2">
                                    <a href="/ichhar-admin/clients?id={{this.u_id}}" class="flex gap-3">
                                    <img src="{{this.photo_url}}" class="h-8 w-8 rounded-full" alt="">
                                    <p class="text-sm font-semibold mt-1"> {{this.nom}} {{this.prenom}} </p>
                                    </a>
                                </div>

                                <div class="flex ml-10 space-x-4">
                                    <form method="post" action="/ichhar-admin/annoncesattentes/approuver/{{this.id}}">
                                    <a type="submit" href="/ichhar-admin/annoncesattentes/approuver/{{this.id}}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-green-800">
                                    Approuver
                                    </a>
                                    </form>
                                    <form method="post" action="/ichhar-admin/annoncesattentes/refuser/{{this.id}}">
                                    <a href="/ichhar-admin/annoncesattentes/refuser/{{this.id}}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-red-800">
                                    Refuser
                                    </a>
                                    </form>
                                </div>
                            </div>
                        </div> 
                {{/each}}
            </div>
        </div>      
    </div>
</div>



















