<div>
    <div class="md:flex">
        <div>
            {{> sidebar}}
        </div>

        <div class="md:w-full">
            {{>header}}
            <div class="flex space-x-96">
                <h1 class="text-xl font-semibold p-6 pr-8">Liste des catégories</h1>

                <!--<button class="mt-4 relative group overflow-hidden px-4 h-10 rounded-full flex space-x-2 items-center
                    bg-gradient-to-r from-blue-400 to-blue-600 hover:to-blue-200">
                    <span class="relative text-sm text-white">Ajouter une catégorie</span>
                    <div class="flex items-center -space-x-3 translate-x-3 text-white">
                        <div class="w-2.5 h-[1.6px] rounded bg-white origin-left scale-x-0 transition duration-300 group-hover:scale-x-100"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </div>
                </button>-->
                <div class="flex space-x-4">
                    <div>
                        <!-- Modal toggle -->
                        <button class="mt-6 font-semibold text-xs relative group overflow-hidden px-4 h-8 rounded-full flex space-x-2 items-center
                        bg-gradient-to-r from-blue-400 to-blue-600 hover:to-blue-200 text-white" type="button" data-modal-toggle="defaultModal">
                            Ajouter une catégorie
                        </button>
                        <!-- Main modal -->
                        <div id="defaultModal" tabindex="-1" aria-hidden="true" style="width: 750px; margin:auto; margin-top: 70px"
                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                            <div class="relative p-4 w-full max-w-2md h-full md:h-auto">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <!-- Modal header -->
                                    <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                            Ajouter une nouvelle catégorie
                                        </h3>
                                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                        </button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="ml-28 p-6 space-y-6">
                                        <div>
                                            <label for="dropdownDefault" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">type d'abus</label><br>
                                            <button id="dropdownDefault" data-dropdown-toggle="abus" 
                                                class="w-96 shadow-lg text-black bg-white mt-1 border border-gray-300 focus:outline-none font-medium rounded-lg text-sm 
                                                px-4 py-2 text-center inline-flex items-center mb-4" type="button"> Type d'abus 
                                                <svg class="w-4 h-4 ml-64" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                                </svg>
                                            </button>
                                            <!-- Dropdown menu -->
                                            <div id="abus" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-96 border-1">
                                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                                                    <li>
                                                        <a href="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fraude</a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mauvaise catégorie</a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Nudité</a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Article déjà vendu</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="description" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">Message</label>
                                            <textarea id="description" name="description" rows="6"
                                            class="w-96 py-1.5 px-3 border rounded-md border-gray-300 shadow-sm focus:ring-gray-500 focus:border-gray-500 mt-1 block w-80 sm:text-sm"
                                            placeholder="Explique plus le cas"></textarea>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="shadow-lg items-center text-center p-6 rounded-b border-t border-gray-200 dark:border-gray-600">
                                        <button data-modal-toggle="defaultModal" type="button" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="mt-6 font-semibold text-xs relative group overflow-hidden px-4 h-8 rounded-full flex space-x-2 items-center
                        bg-gradient-to-r from-blue-400 to-blue-600 hover:to-blue-200 text-white" type="button" data-modal-toggle="defaultModal">
                            <a href="/ichhar-admin/categories-restaurer">
                                Restaurer une catégorie
                            </a>     
                        </button>
                    </div>
                </div>        
                    
            </div>
            
            <table class="w-96 md:w-4/5 ml-6 items-center bg-transparent border-collapse">
                <thead>
                    <tr>
                        <th class="px-2 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                            ID
                        </th>
   
                        <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                            NOM
                        </th>

                        <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                            description
                        </th>

                        <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blue-800 text-white border-blue-700">
                            Action
                        </th>
                    </tr>
                </thead>

                {{#each catinfo1}}
                <tbody>
                    <tr>
                        <th class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4 text-left flex items-center">
                            {{this.id}}
                        </th>
                            
                        <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                            {{this.nom}}
                        </td>

                        <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4">
                            {{this.description}}
                        </td>
                        
                        <td class="flex gap-2 border-t-0 px-3 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
<!--Button update action-->
                           <button class="text-white text-semibold px-4 h-8 rounded-full flex space-x-2 items-center border border-blue-400 bg-blue-400" data-modal-toggle="defaultModal0"> 
                                <a href="/ichhar-admin/categories/update/{{this.id}}">
                                Modifier 
                                </a>
                            </button>
                            <!--<div id="defaultModal0" tabindex="-1" aria-hidden="true" style="width: 750px; margin:auto; margin-top: 70px"
                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                                <div class="relative p-4 w-full max-w-2md h-full md:h-auto">
                                    <div class="relative bg-white rounded-lg shadow ">
                                        <div class="flex justify-between items-start p-4 rounded-t border-b ">
                                            <h3 class="text-xl font-semibold text-gray-900 ">
                                                Modifier la catégorie
                                            </h3>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal0">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                            </button>
                                        </div>
                                        <div class="mr-72 p-6 space-y-6">
                                            <label for="noom" class="font-semibold text-md">Nom</label>
                                            <input name="noom" class="h-8 w-56 rounded-md border border-gray-200 shadow-lg focus:ring-gray-500 focus:border-gray-500 mb-2" type="text" value="{{this.nom}}"><br>
                                            <label for="desc" class="font-semibold text-md">Description</label>
                                            <textarea name="desc" class="h-8 w-56 rounded-md border border-gray-200 shadow-lg focus:ring-gray-500 focus:border-gray-500 mb-2" type="text" >{{this.description}}</textarea><br>
                                            <label for="photo_url" class="font-semibold text-md">URL du photo</label>
                                            <textarea name="photo_url" class="h-8 w-56 rounded-md border border-gray-200 shadow-lg focus:ring-gray-500 focus:border-gray-500 mb-2" type="text" >{{this.photo_url}}</textarea>
                                        </div>
                                        <div class="shadow-lg items-center text-center p-6 rounded-b border-t border-gray-200 dark:border-gray-600">
                                            <form action="/ichhar-admin/categories/update/{{this.id}}" method="get">
                                                <button data-modal-toggle="defaultModal" type="submit" class="text-white bg-gray-700 hover:bg-gray-800 
                                                focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 
                                                text-center">
                                                    Confirmer
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
<!--Button delete action-->
                            
                            <form method="get" action="/ichhar-admin/categories/delete/{{this.id}}">
                                <button class="text-white text-semibold px-4 h-8 rounded-full flex space-x-2 items-center
                                border border-blue-400 bg-blue-400" type="button" data-modal-toggle="defaultModal1"> 
                                <a href="/ichhar-admin/categories/delete/{{this.id}}">
                                    Supprimer 
                                </a>
                                </button>
                                <!-- Main modal 
                                <div id="defaultModal1" tabindex="-1" aria-hidden="true" style="margin:auto; margin-top: 200px"
                                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full md:w-3/6">
                                    <div class="relative p-4 w-full max-w-2md h-full md:h-auto">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700"> 
                                            <div class="flex justify-between items-start p-4 rounded-t border-b">
                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                    êtes vous sûr de vouloir supprimer cette catégorie?
                                                </h3>
                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1 ml-auto inline-flex items-center" data-modal-toggle="defaultModal1">
                                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                                </button>
                                            </div>                              
                                            <div class="md:mr-56 p-6 space-y-6">
                                                
                                                    <button class="w-24 shadow-lg text-white bg-red-500 mt-1 border border-gray-300 focus:outline-none font-medium rounded-lg text-sm 
                                                        px-4 py-2 text-center inline-flex items-center mb-4" type="submit"> 
                                                        <a href="/ichhar-admin/categories/delete/{{this.id}}">
                                                            Supprimer
                                                        </a>
                                                    </button>

                                                    <button class="w-24 shadow-lg text-white bg-blue-500 mt-1 border border-gray-300 focus:outline-none font-medium rounded-lg text-sm 
                                                        px-4 py-2 text-center inline-flex items-center mb-4" type="submit"> 
                                                        <a href="/ichhar-admin/categories">
                                                            Annuler
                                                        </a>
                                                    </button>
                                            </div>
                                        </div>                                  
                                    </div>
                                </div> -->
                            </form>    
                        </td>
                    </tr>            
                </tbody>
                {{/each}}
                
            </table>
        </div>
    </div>
</div>


