<div class="md:mb-6">
  <h3 class="pt-4 text-2xl text-center">Mes annonces</h3>
</div>

<div class="md:grid md:grid-cols-3 md:gap-20">
  {{#each info}}
  <form action="/profile/{{nom}}/annonces" method="get" 
    class="h-96 w-56 rounded-lg shadow-lg overflow-hidden">
    
        <div class="flex items-end justify-end h-44 w-full bg-cover">
          <img class="w-full h-44" src="{{this.photo_url1}}" alt="image de l'annonce que j'ai publiée" />
        </div>

        <div class="px-5 py-3">
          <h3 class="text-black font-semibold"> {{this.titre}} </h3>
          <span class="text-gray-800 mt-2"> {{this.prix}} DT </span>
          <br/>
          <div class="text-gray-600 text-sm h-10">{{this.description}}</div>
        </div>

        <div class="mt-4 ml-6">
          <button class="rounded-lg text-white font-semibold text-sm bg-red-500 h-10 w-20">Modifier</button>
          <a href="/annonce/delete/{{id}}">
            <button class="rounded-lg text-white font-semibold text-sm bg-green-500 h-10 w-20">Supprimer</button>
          </a>
        </div>
  </form>
  {{/each}}
</div>
