<div class="w-40 md:h-6/6 flex mx-auto rounded-full mt-14" >
  <img class="h-40 w-40 rounded-full mx-auto" src="/images/{{userChosenInfo.photo_url}}" />
</div>

<p class="text-3xl text-center text-bold text-black">
  {{userChosenInfo.nom}}
  {{userChosenInfo.prenom}}
</p>
<p class="text-md text-center text-semibold text-black mt-2">A rejoint depuis {{userChosenInfo.date_creation}}</p>

<!--<h2 class="text-2xl text-gray-900 font-semibold mt-4 ml-4"> Informations personelles</h2>-->

<div class="ml-4">
    <p class="md:text-md font-semibold text-black mt-2"> Email : 
        <span class="font-normal"> {{userChosenInfo.email}} </span> 
    </p>
    <p class="md:text-md font-semibold text-black mt-2"> Téléphone : 
        <span class="font-normal"> {{userChosenInfo.telephone}} </span> 
    </p>
    <p class="md:text-md font-semibold text-black mt-2"> Ville : 
        <span class="font-normal"> {{userChosenInfo.ville}} </span> 
    </p>
</div>




